.div-titre
{
	color: Red;
	text-align: Left;
}

.Formations
{
	color: Red;
	text-align: Left;
}

.Expériences
{
	color: Red;
	text-align: left;
}


.COMPETENCES
{
	color: Red;
	text-align: left;
}

.HOBBIES
{
	color: Red;
	text-align: left;
}

.LANGUE
{
	color: Red;
	text-align: left;
}
